aiobotocore==2.7.0
aiofiles==23.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aioitertools==0.12.0
aiosignal==1.4.0
alembic==1.16.4
annotated-types==0.7.0
anyio @ file:///croot/anyio_1745334642479/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///croot/argon2-cffi-bindings_1736182440035/work
arrow==1.3.0
asttokens @ file:///croot/asttokens_1743630435401/work
async-lru @ file:///croot/async-lru_1699554519285/work
async-timeout==5.0.1
attrs @ file:///croot/attrs_1734533101012/work
babel @ file:///croot/babel_1737454360933/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1752598980051/work
bleach @ file:///croot/bleach_1732290411627/work
blinker==1.9.0
boto3==1.28.64
botocore==1.31.64
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli @ file:///croot/brotli-split_1736182456865/work
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
cachetools==5.5.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1752493286596/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
cfgv==3.4.0
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.1.8
cloudpickle==3.1.1
comm @ file:///croot/comm_1709322850197/work
commonmark==0.9.1
contourpy @ file:///croot/contourpy_1738160616259/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
databricks-sdk==0.59.0
debugpy @ file:///croot/debugpy_1736267418885/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
distlib==0.4.0
dm-tree==0.1.8
docker==7.1.0
et_xmlfile==2.0.0
exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastapi==0.116.1
fastjsonschema @ file:///croot/python-fastjsonschema_1731939362158/work
filelock==3.18.0
Flask==3.1.1
fonttools @ file:///croot/fonttools_1737039080035/work
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.7.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.40.3
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.2.3
grpcio==1.73.1
gunicorn==23.0.0
gym==0.22.0
gym-notices==0.0.8
# Editable install with no version control (gymrx==0.6.1)
-e /home/insight-ai-02/skep-acc-13.1.0/gymrx-0.6.1
h11 @ file:///croot/h11_1748442006460/work
httpcore @ file:///croot/httpcore_1748526048470/work
httpx @ file:///croot/httpx_1746747840559/work
identify==2.6.12
idna==3.10
imageio==2.37.0
importlib_metadata @ file:///croot/importlib_metadata-suite_1732633488278/work
importlib_resources @ file:///croot/importlib_resources-suite_1720641103994/work
influxdb==5.3.2
ipykernel @ file:///croot/ipykernel_1737660677549/work
ipython @ file:///croot/ipython_1694181358621/work
isoduration==20.11.0
itsdangerous==2.2.0
jedi @ file:///croot/jedi_1733987392413/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
jmespath==1.0.1
joblib==1.5.1
json5==0.12.0
jsonpointer==3.0.0
jsonschema @ file:///croot/jsonschema_1753206402902/work
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
jupyter-events @ file:///croot/jupyter_events_1741184577592/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1745827015155/work
jupyter_client @ file:///croot/jupyter_client_1737570961872/work
jupyter_core @ file:///croot/jupyter_core_1751991368470/work
jupyter_server @ file:///croot/jupyter_server_1751996616172/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1744706698694/work
jupyterlab @ file:///croot/jupyterlab_1752046359855/work
jupyterlab_pygments @ file:///croot/jupyterlab_pygments_1741124142640/work
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
lark==1.2.2
lazy_loader==0.4
lightgbm==4.6.0
lightning-utilities==0.14.3
lz4==4.4.4
Mako==1.3.10
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.9.2
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mistune @ file:///croot/mistune_1741124011532/work
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mlflow==3.1.1
mlflow-skinny==3.1.1
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.3
nbclient @ file:///croot/nbclient_1741123995822/work
nbconvert @ file:///croot/nbconvert-meta_1741184653315/work
nbformat @ file:///croot/nbformat_1728049424075/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx==3.2.1
nodeenv==1.9.1
notebook @ file:///croot/notebook_1752060914641/work
notebook_shim @ file:///croot/notebook-shim_1741707758683/work
numexpr @ file:///croot/numexpr_1730215937391/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=6094eeedd869502faa0fd0a8c5ad3a70c5779be06ddd1feb7627e5c212fac420
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
openpyxl==3.1.5
opentelemetry-api==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-semantic-conventions==0.56b0
overrides @ file:///croot/overrides_1699371140756/work
packaging @ file:///croot/packaging_1753775359799/work
pandas @ file:///croot/pandas_1752846035684/work/dist/pandas-2.3.1-cp39-cp39-linux_x86_64.whl#sha256=0fd333bc2276a41356c519f70d38b4db369ecf9487c85f963a52aaa5139ad50b
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///croot/parso_1733963305961/work
pexpect @ file:///croot/pexpect_1750072593878/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow @ file:///croot/pillow_1744613067434/work
platformdirs @ file:///croot/platformdirs_1744273042065/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
polars==1.31.0
pre_commit==4.2.0
prometheus_client @ file:///croot/prometheus_client_1744271615306/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
propcache==0.3.2
protobuf==6.31.1
psutil @ file:///croot/psutil_1736367091698/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.15
pydantic_core==2.33.2
Pygments @ file:///croot/pygments_1744664109463/work
pyparsing @ file:///croot/pyparsing_1731445506121/work
PyQt6==6.7.1
PyQt6_sip @ file:///croot/pyqt-split_1753427276959/work/pyqt_sip
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
pytorch-lightning==1.8.6
pytz @ file:///croot/pytz_1752135852232/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq @ file:///croot/pyzmq_1734687138743/work
ray==2.2.0
referencing @ file:///croot/referencing_1699012038513/work
requests @ file:///croot/requests_1750426329888/work
rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
rfc3987-syntax==1.1.0
rich==12.6.0
rpds-py @ file:///croot/rpds-py_1736541261634/work
rsa==4.9.1
ruff==0.12.4
s3fs==2025.7.0
s3transfer==0.7.0
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn @ file:///croot/seaborn_1749110291192/work
Send2Trash @ file:///croot/send2trash_1736540790175/work
shellingham==1.5.4
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1745411216123/work
six @ file:///croot/six_1744271502820/work
-e git+http://root:glpat-2CsvEnGNR-k8xSmgc8Tk@10.250.109.206:8080/skep/srdd-airflow-model.git@b8f5886ed3842ea3ec5aac480589431e988b10cc#egg=skep_mrx_ctrl
smmap==5.0.2
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve @ file:///croot/soupsieve_1696347547217/work
SQLAlchemy==2.0.41
sqlparse==0.5.3
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.47.2
sympy==1.14.0
tabulate==0.9.0
tensorboardX==2.6.4
terminado @ file:///croot/terminado_1671751832461/work
threadpoolctl==3.6.0
tifffile==2024.8.30
tinycss2 @ file:///croot/tinycss2_1738337643607/work
tomli @ file:///croot/tomli_1753774587605/work
torch==2.1.0
torchmetrics==1.7.4
tornado @ file:///croot/tornado_1748956929273/work
tqdm==4.67.1
traitlets @ file:///croot/traitlets_1718227057033/work
triton==2.1.0
typer==0.16.0
types-python-dateutil==2.9.0.20250708
typing-inspection==0.4.1
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
unicodedata2 @ file:///croot/unicodedata2_1736541023050/work
uri-template==1.3.0
urllib3==1.26.20
uvicorn==0.35.0
uvloop==0.21.0
virtualenv==20.32.0
wcwidth @ file:///croot/wcwidth_1750352883074/work
webcolors==24.11.1
webencodings==0.5.1
websocket-client @ file:///croot/websocket-client_1715878298792/work
Werkzeug==3.1.3
wrapt==1.17.2
yarl==1.20.1
zipp @ file:///croot/zipp_1732630741423/work
